language: node_js
node_js:
  - '0.10'
services:
  - mongodb
deploy:
  provider: heroku
  api_key:
    secure: Ex37NNPdrhjjFWsDYyDlGKxz8EqTaXZzLAk18Jly3KbrPSV3z6S27YDaN/27e/aUkFKn/K8GrVtImuvpvoSqGkApigzMdxizRNbeha9Qo7jSv/RYVzNsh8wQHWTk0UXaKjq7onqy9/iNAQHOJCE1K3un+z85TknrYtoWhMLw69QSxeQZjvTyTP0ietCgqQ7oppQTXcP2FZxQP8R5Q6KsdUUCKx+n2xZmfM5Ur6ZJOPgiNwnCCaqzLRTDdR9rNxTATR3Ggd8DlsVR7Cwv5F0Gxeztx5WLykwVU6QXspn+nbeTy7U2cNOY7OlXWFuLeOCGtRteYpOupqLfw7ngfCm0QUe9yGK90VSk6WNqyP4PNr/ZaKl5edhSFCtjlJSufPFSKUtS9TCTJggjf5Re0dsf6nPWdJ8Ve6HNZK9nce+J4h+7yM1wIf4lt8MAzFH2dEU9lRC1wFoFSwWgiBmwZSCf85B0DJGykxdMk0Gfu1BnNK+W7BswQdkstJihYJw3QIPOPlxSa5V8Ca0+7j1Ny+vRO71/8KHge6n6D0xN0/GitWzvC4vuhhP0hXZdyw/9FBuqADDuxbyJuyb7Z5xwFPwfRP6hotu0HBBgmwa0Zc7C4706IZwGOrpnbqCob1iC3I6Ybtuj0DNOB/kwiwTbrPS0Boed1ym7NXlWZhCH9VEZSS4=
  app:
    master: cse112bluejay
  on:
    repo: pkanekal/robo_betty_alpha
notifications:
  email: false
  slack:
    secure: TKgtzE3PEhWb2cqlQPZEzr/nhyZrftui3Z+G70bXW50NbOMiqD8oOvifQpDzT/a6QxgEMybfmbTz76W7VKmC9PlWW77w/h4lh7A6lBriFRJv72n01c70oTofoRuhI7kqt6S8vIz1wGmiLFPufznaCzMpLuNukqGiJ05PJFap7cI=
